{% if users %}
    {% for user in users %}
        <div class="user_box">
<div class="user_avatar"><a href="{{ user.profile_url }}"><img src="{{ user.avatar }}" class="animation" alt=""/></a></div>
<div class="user_li"><a class="user_name west animation" title="перейти в профиль пользователя" href="{{ user.profile_url }}">{{ user.name }}</a></div>
<div class="user_detal">
<span class="red south" title="уровень уважения пользователя">Карма: {{ user.rating }}</span>
<span class="dark">Файлы: {{ user.load }}</span>

</div>
</div>
    {% endfor %}
   {% endif %}