﻿{{ editor_body }}
<script type="text/javascript">
maxAttachedFiles = {{ context.max_attaches }};

function metaTags(element) {
	if (!$(element).is(':checked')) {
		$('#meta').hide();
		$('#tags').hide();
	} else {
		$('#meta').show();
		$('#tags').show();
	}
}
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu('sendForm')}; return false">
<div class="page_style">
	  <div class="page_title"><h3>Форма редактирования</h3></div>
	  <div class="page_cont">
          <ul class="spisok-all">
		  <li>
               <span class="siu_title"><strong>Категория: <font color="red">*</font></strong></span>
            <span class="siu_data"><select class="input_add" name="cats_selector">{{ context.cats_selector }}</select></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Название файла: <font color="red">*</font></strong></span>
            <span class="siu_data"><input class="input_add" type="text" name="title" maxlength="128" value="{{ context.title }}"></span>
          </li>
		  
		  <li>
            <span class="siu_title add_files"><strong><font color="red">*</font>Загрузить файл:</strong></span>
            <span class="siu_data"><input type="file" name="attach" /> Удалить:<input type="checkbox" name="delete_file" value="1" /> </span>
          </li>
		   <li>
            <span class="siu_title"><strong>Указать зеркало:</strong>
			<span class="about">Зеркало, это ссылка на файл на стороннем сайте</span></span>
            <span class="siu_data"><input size="70" class="input_add" type="text" name="download_url" value="{{ context.download_url }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Размер файла на зеркале:</strong></span>
            <span class="siu_data"><input size="70" class="input_add" type="text" name="download_url_size" value="{{ context.download_url_size }}" /></span>
          </li>
		   <li class="textareal">
            <textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea>
          </li>
		  <li>
            <span class="siu_title add_files"><strong>Загрузить скриншоты:</strong></span>
            <span class="siu_data" id="attachments">
                <input class="attachField" type="file" id="attach1" name="attach1" onchange="getFile(1)"><span id="attachMeta1"></span>
                <input type="button" name="addInput" value="+" onclick="addFileField('attachments');">
		   </span>
          </li>
		  <li>
            <span class="siu_title"><strong>Настройка для поиска:</strong></span>
            <span class="siu_data"><input type="checkbox" onClick="metaTags(this);" /></span>
          </li>
		  <li id="meta" style="display:none;">
            <span class="siu_title add_files"><strong>Meta description:</strong>
			<span class="about">Нужно для более быстрой индексации поисковыми роботами</span></span>
            <span class="siu_data"><textarea name="description">{{ context.description }}</textarea></span>
          </li>
		  <li id="tags" style="display:none;">
            <span class="siu_title"><strong>Теги:</strong><span class="about">Слова по которым будет искаться файл</span></span>
            <span class="siu_data"><input class="input_add" size="70" type="text" name="tags" value="{{ context.tags }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Разработчик:</strong><span class="about">Автор файла</span></span>
            <span class="siu_data"><input class="input_add" size="70" type="text" name="sourse" value="{{ context.sourse }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>E-Mail автора:</strong></span>
            <span class="siu_data"><input class="input_add" size="70" type="text" name="sourse_email" value="{{ context.sourse_email }}" /></span>
          </li>
		  <li>
            <span class="siu_title"><strong>Ссылка на первоисточник:</strong><span class="about">Ссылка на тот сайт откуда вы взяли файл</span></span>
            <span class="siu_data"><input class="input_add" size="70" type="text" name="sourse_site" value="{{ context.sourse_site }}" /></span>
          </li>
		  {% if checkAccess([module,'record_comments_management']) %}
		  <li>
            <span class="siu_title"><strong>Разрешить комментирование?:</strong></span>
            <span class="siu_data"><input type="checkbox" name="commented" value="1" {{ context.commented }} /></span>
          </li>
		  {% endif %}
		  {% if checkAccess([module,'hide_material']) %}
		  <li>
            <span class="siu_title"><strong>Доступен для просмотра:</strong></span>
            <span class="siu_data"><input type="checkbox" name="available" value="1" {{ context.available }} /></span>
          </li>
		  {% endif %}
		
		  </ul>
		    <div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Отправить" /> </div>
	  </div>
</div>
</form>
