<div class="user_style">
	  <div class="name_title">Список пользователей
	  <div class="sort_user"><div id="theme_modbar">
	  <div class="left">Сортировать по:</div> <div id="theme_modbar_buttom"></div>
	  <ul id="theme_modbar_list">
	   <li>{{ getOrderLink(['name','Имя']) }}</li>
		           <li>{{ getOrderLink(['puttime','Дата регистрации']) }}</li>
                   <li>{{ getOrderLink(['last_visit','Последний визит']) }}</li>
                   <li>{{ getOrderLink(['status','Группа']) }}</li>
	  </ul></div></div>
	  </div>
	  
	  <div class="user_cont">

   <ul class="userlist">
		     {% if entities %}
             {% for user in entities %}
                            <li class="userbox">
							       <div class="userlistavatar"><img src="{{ getAvatar(user.id) }}" class="avatar" alt=""/></div>
							        <div class="listuser">
								          <ul class="listuserbuttons">
										   <li><h3 class="userlisttitle"><a class="name" href="{{ www_root }}/users/info/{{ user.id }}">{{ user.name }}</a>   {% if user.moder_panel %}<a href="{{ www_root }}/users/edit_form_by_admin/{{ user.id }}">[ Ред. ]</a>{% endif %}		</h3></li>
									       {% if user.pm %}<li><a href="{{ www_root }}/users/send_pm_form/{{ user.id }}" class="button2">Отправить ЛС</a></li>{% endif %}
                                            							
								          </ul>
								         
										   {% if user.rating %}
				                              {% if user.rating >= 1 %}
											  <p class="listreputation east" title="Репутация пользователя" style="background-color: #780;"><span>{{ user.rating }}</span></p>
				        	                  {% else %}
											  <p class="listreputation east" title="Репутация пользователя" style="background-color: #C54C4C;"><span>{{ user.rating }}</span></p>
					                          {% endif %}
				                           {% else %}
										       <p class="listreputation east" title="Репутация пользователя" style="background-color: #999;"><span>{{ user.rating }}</span></p>
                                           {% endif %}
								          <div class="user_detaling">
								               <span>
											   <b class="group">{{ user.group }}</b>
											   </span>
											   <span class="posts">{{ user.posts }} сообщений</span>
											</div>
								     
							        </div>
                            </li>
			{% endfor %}
            {% endif %}
         </ul>
		 
      
		
      </div>
</div>