<div class="user_style">
	    <div class="uProfile_title">Почтовый ящик(Список переписок)</div>
		  <div class="user_cont">
	  <div class="pm_block">
		  <ul class="userslinks">
		         <li><a href="{{ www_root }}/users/info/{{ fps_user_id }}">Мой профиль</a></li>
				 <li class="active"><a href="{{ www_root }}/users/in_msg_box/">Личные сообщения</a></li>
                 <li><a href="{{ www_root }}/users/pm/">Отправленные</a></li>
				 <li><a href="{{ www_root }}/users/send_pm_form/">Отправить ЛС</a></li> 
				 <li class="detete">Очистить диалог: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/delete_messages_user/');" value="(0)">
	             <div style="display:none;"><form id="actionPack" action="" method="POST" onsubmit="sendu('actionPack');return false;"></form></div></li> 
		  </ul>
		   </div>
	      <div class="userinfo">
		    <ul class="userlist">
		     {% if messages %}
             {% for message in messages %}
                            
							<li {% if message.viewed != 1 %}class="send"{% endif %}>
							<div class="userlistavatar"><a href="{{ www_root }}/users/info/{{ message.user.id }}"><img src="{{ getAvatar(message.user.id) }}" class="avatar" alt=""/></a></div>
							<ul class="pm_detal_user">
							<li>{% if message.direction == 'in'  %} Отправил: <a href="{{ www_root }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }} </a> {% else %} Получатель: <a href="{{ www_root }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }} </a>{% endif %}</li>
							<li>Тип сообщения:{% if message.direction == 'in'  %} Входящие {% else %} Исходящие {% endif %}</li>
							<li>Дата: {{ message.sendtime }}</li>
							</ul>
							<div class="pm_text" onclick="location.href='{{ www_root }}/users/pm_view/{{ message.user.id }}'" style="cursor: pointer;">{{ message.text }}</div>
							<div class="right">{{ message.delete }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" /></div>
							</li>
 
                          
			{% endfor %}
            {% endif %}
	        
           </ul>	
	      </div>
	
    </div>
	</div>