<script type="text/javascript">
$(function() {
    $('[list=findusers]').keyup(function() {
        if ($('[list=findusers]').val().length > 2) {
            $.get('/users/search_niks/?name='+$('[list=findusers]').val(), {}, function(data){
                $('#findusers').html(data);
            });
        } else {
            $('#findusers').html('');
        };
    });
    return;
});
</script>

<form name="sendMailForm" id="sendForm" action="{{ context.action }}" method="POST" onsubmit="sendu('sendForm'); return false">
	<div class="user_style">
	    <div class="uProfile_title">Почтовый ящик(Список переписок)</div>
		  <div class="user_cont">
	  <div class="pm_block">
		  <ul class="userslinks">
		         <li><a href="{{ www_root }}/users/info/{{ fps_user_id }}">Мой профиль</a></li>
				 <li><a href="{{ www_root }}/users/in_msg_box/">Личные сообщения</a></li>
                 <li><a href="{{ www_root }}/users/out_msg_box/">Отправленные</a></li>
				 <li class="active"><a href="{{ www_root }}">Письмо на email</a></li> 
				
	             <div style="display:none;"><form id="actionPack" action="" method="POST" onsubmit="sendu('actionPack');return false;"></form></div></li> 
		  </ul>
		   </div>
		    <div class="userinfo">
		    <ul class="spisok-all">
            <li style="min-height:36px;">
              <span class="siu_title"><strong><font color="red">*</font> Кому:</strong></span>
              <span class="siu_data">
			    <input type="text" name="toUser" class="input_add" id="toUser" maxlength="30" value="{{ context.to_user }}" list="findusers" />
				<datalist id="findusers"></datalist>
			  </span>
            </li>
		   <li style="min-height:36px;">
              <span class="siu_title"><strong><font color="red">*</font> Заголовок сообщения:</strong></span>
              <span class="siu_data"><input class="input_add" type="text" name="subject" maxlength="60" value="{{ context.subject }}" />
			  </span>
            </li>
			<li>
              <textarea name="message" cols="60" rows="15" style="width: 99%;">{{ context.message }}</textarea>
            </li>
		
		    </ul>
	      </div>
		  <div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Отправить"> </div>
	  </div>
    </div>
	
</form>