<html>
<head>
<title>Вход на форум</title>
<link rel="icon" href="{{ www_root }}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{ www_root }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />
</head>
<body>
<div class="messegesokno" style="width:223px;height:143px;">
      <span class="headfutbutton">Этот форум закрыт на пароль</span>
	<div>
	<form method="POST" action="">
		<br /><input type="text" name="forum_lock_pass" /><br /><br />
		<input type="submit" name="send" value="Отправить">
	</form>
	</div>
    </div>
</body>
</html>