{{ editor_body }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu('sendForm')}; return false">
<div class="page_style forum_style">
	  <div class="page_title"><h3>Редактирование сообщения</h3></div>
	  <div class="page_cont">


	  <div class="answertextarea"><textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></div>
	  
				
			  <ul class="spisok-all">
			  {% if checkAccess([module,'edit_posts']) %}
          <li>
            <span class="siu_title"><strong>Добавить строку "Отредактировано":</strong></span>
            <span class="siu_data">
			
				 <input type="checkbox" name="add_editor"{% if context.add_editor %}checked="checked"{% endif %}/>
		
			</span>
          </li>
		  <li>
		  <span class="siu_title"><strong>Прикрепленные файлы:</strong></span>
          <span class="siu_data">
		  <div id="attachments"><br/>
							<input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" />{{ context.unlinkfiles.att1 }}<span id="attachMeta1"></span><br />
							<input class="attachField" type="file" id="attach2" name="attach2"  onChange="getFile(2)" />{{ context.unlinkfiles.att2 }}<span id="attachMeta2"></span><br />
							<input class="attachField" type="file" id="attach3" name="attach3"  onChange="getFile(3)" />{{ context.unlinkfiles.att3 }}<span id="attachMeta3"></span><br />
							<input class="attachField" type="file" id="attach4" name="attach4"  onChange="getFile(4)" />{{ context.unlinkfiles.att4 }}<span id="attachMeta4"></span><br />
							<input class="attachField" type="file" id="attach5" name="attach5"  onChange="getFile(5)" />{{ context.unlinkfiles.att5 }}<span id="attachMeta5"></span><br />
			</div></span>
		  </li>
		  	{% endif %}
		  </ul>
		
			 
			
			
</div>
<div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Принять изменения" /> </div>
</div>
</form>
