<form name="addForumForm" id="editForumForm" action="{{ context.action }}" method="POST" onsubmit="sendu('editForumForm'); return false">
<div class="page_style forum_style">

<div class="page_title"><h3>Редактирование форума</h3></div>
	   <div class="page_cont" style="min-height:170px;">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>Название форума:</strong></span>
            <span class="siu_data"><input type="text" class="input_add" name="title" value="{{ context.title }}" maxlength="120" /></span>
			
			<span class="siu_title add_files"><strong>Описание форума:</strong></span>
            <span class="siu_data"><textarea name="description" maxlength="250">{{ context.description }}</textarea></span>
		  </li>

		  </ul>
		   <div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Применить изменения" /> </div>
	  </div>
</div>
</form>