{{ editor_body }}
<div class="forum_category">
      <div class="forum_title"> <div class="forum_name">Форма для ответа</div></div>
       <form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu('sendForm')}; return false">       
	  
	        <div class="answertextarea"><textarea {{ editor_forum_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea></div>
	        <div class="reply"><div id="attachments">Прикрепить файлы:
			  <input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span>
			  <input type="button" name="addInput" value="Добавить еще файл" onClick="addFileField('attachments');" />
			  <input class="reply_input animation" type="submit" name="submitForm" value="Ответить" />
	        </div>
			</div>
       </form>
</div>
