<form name='editThemeForm' action="{{ context.action }}" method="POST" onsubmit="sendu('sendForm'); return false">
<div class="page_style forum_style" style="min-height:221px;">
	   <div class="page_title"><h3>Соединение тем: {{ theme.title }}</h3></div>
	  <div class="page_cont">
	
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong>Идентификатор темы:</strong>
			<span class="about">Порядковый номер темы с которой вы хотите соединить эту тему, узнать его можно из адреса страницы темы. Этот номер находится в конце адреса, после <b>view_theme/</b></span></span>
            <span class="siu_data"><input class="input_add" type="text" name="theme" maxlength="55" value="{{ context.theme }}" /></span>
          </li>
		  <li>
            <div class="submit_add" align="center"> <input type="submit" name="submitForm" value="Соединить темы" /> 
			<br />Сообщения будут распределены относительно даты их создания.
			<br />Название темы и местоположение будет взято у темы <b>в которую</b> перемещают.
			</div>
          </li>
		  </ul>
	  </div>
	  </div>
</form>
